<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>table demo</title>
    <link rel="stylesheet" href="../../lib/bootstrap.min.css">
    <script src="../../lib/angular.min.js"></script>
    <script src="app.js"></script>
    <style>
        .table>tbody {
            border: 2px solid gray;
        }
    </style>
</head>

<body ng-app="myapp" class="container">

    <table   class="table table-bordered">
        <tbody ng-repeat="user in users"
                ng-controller="ShowDetailCtrl"
               ng-click="clickDetails()">
            <tr>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
            </tr>

            <tr ng-show="showAllDetails()">
                <td colspan="2">{{user.desc}}</td>
            </tr>
        </tbody>
    </table>


    <script>
    /**
    * mapp Module
    *
    * Description
    */
    angular.module('myapp', []);

    angular.module('myapp',[]).controller('ShowDetailCtrl',function($scope){
        $scope.users = [
            {name:'马春娣',email:'macd@lzx.com.cn',desc:'我们比比谁先到家',img:'images/5.jpg'},
            {name:'邹俊',email:'zenj@lzx.com.cn',desc:'300斤有我！',img:'images/3.jpg'},
            {name:'曾贱',email:'zoujian@lzx.com.cn',desc:'我胸大,我说了算！',img:'images/1.jpg'}
        ];

        $scope.click = true;

        $scope.clickDetails = function(){

            $scope.click= !$scope.click;
        }
        $scope.showAllDetails = function(){
            return $scope.click;
        }
    })
    </script>

</body>
</html>
